<div class="modal fade" id="<%= e.url %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure about that ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want really delete this endpoint ? <div class="p-2 bg-dark rounded text-white mt-1"> <tt>/<%= e.url %></tt> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="deleteEndpoint(<%- i %>)">Yes, I am sure delete it.</button>
        </div>
      </div>
    </div>
</div>
<div class="w-full my-3 px-3 border container rounded shadow-sm" style="height: 50px;">
    <div class="row">
        <div class="col-4 d-flex align-items-center"
            style="height: 50px;">
            <tt class="badge bg-primary overflow-hidden"
                style="text-overflow: ellipsis;">/<%= e.url %></tt>
        </div>
        <div class="col-4 d-flex align-items-center"
            style="height: 50px;">
            <span class="badge overflow-hidden bg-success overflow-hidden"
                style="text-overflow: ellipsis;"><%= e.description %></span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end"
            style="height: 50px;">
            <button class="btn btn-primary btn-sm mx-1" type="button">Edit</button>
            <button class="btn btn-primary btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#<%= e.url %>" type="button">Delete</button>
        </div>
    </div>
</div>

<script>
  async function deleteEndpoint(index){
    const data = await fetch(`/api/point?index=${index}`, {
      method: 'delete',
    })
  }
</script>